<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOGLE TRENDS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>    
<body>
    <div class="container">
        <h1>GOOGLE TRENDS</h1>
        <form action='/' method="post">
            <label for="countrySelect">Select Country:</label>
            <select name="countrySelect">
                <option value="ES">Spain</option>
                <option value="US">United States</option>
                <option value="UK">United Kingdom</option>
                <option value="CA">Canada</option>
                <option value="IN">India</option>
                <!-- Add more countries as needed -->
            </select>
            
            <label for="languageSelect">Select Language:</label>
            <select name="languageSelect">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="hi">Hindi</option>
                <!-- Add more languages as needed -->
            </select>
            
            <label for="searchInput">Enter Keyword:</label>
            <input type="text" id="searchInput" name="Keyword">

            <label for="timeInterval">Set Auto Run Interval (hours):</label>
            <input type="number" id="timeInterval" name="TimeInterval" min="0" value="0">

            <h2>Output Options:</h2>
            <button type="button" id="selectAllButton">Select All</button>
            <!-- Select All Button -->

            <label><input type="checkbox" name="output-checkbox" value="1"> Interest Over Time</label>
            <label><input type="checkbox" name="output-checkbox" value="2"> Interest by Region</label>
            <label><input type="checkbox" name="output-checkbox" value="3"> Trending Search</label>
            <label><input type="checkbox" name="output-checkbox" value="4"> Top Charts</label>
            <label><input type="checkbox" name="output-checkbox" value="5"> Related Queries</label>
            <label><input type="checkbox" name="output-checkbox" value="6"> Related Topics</label>
            <label><input type="checkbox" name="output-checkbox" value="7"> Keyword Suggestion</label>
            <label><input type="checkbox" name="output-checkbox" value="8"> Multirange Interest Over Time</label>
            <label><input type="checkbox" name="output-checkbox" value="9"> Historical Hourly Time</label>
            <!-- Add more checkboxes for additional outputs -->

            <button type="submit">Search</button>
        </form>
    </div>        